<h1 align=center>BAHAUPEDIA</h1>

<br />
@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@foreach (DAW_Project.Models.Article item in ViewBag.Articles)
{
    <div class="card" style="width: 80rem;">

        <div class="card-body">

            <h2 align="center" class="card-title"> <b>@item.Title</b> </h2>
            <p><b>Data: </b>@String.Format("{0:dd MMMM yyyy}", item.Post_Date)</p>
            <p><b>Domeniu:</b> @item.Domain.Domain_name</p>
            <p><b>Autor:</b> @item.Editor_Name</p>
            <a class="btn btn-success" href="/Articles/Show/@item.Article_Id" style="float: right;">Afisare articol</a>
        
        </div>
        

    </div>
    <br/>
}
<div class="right">
    <a class="btn btn-success" href="/Articles/New">Adaugare Articol</a>
</div>



    
 
