<h2>AFISARE ARTICOLE</h2>

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@*@foreach (var item in ViewBag.Articles)
{
    <div class="card" style="width: 18rem;">
      
        <div class="card-body">
            
            <h5 class="card-title">@item.Title </h5> 

            <div>@item.Content</div>
           
            <div>@item.Editor_Name</div>

             <div>@item.Post_Date</div>

        </div>


        <a class="btn btn-success" href="/Articles/Show/@article.Id">Afisare articol</a>
    </div>
}*@


@foreach (var item in ViewBag.Articles)
{
    <div class="card" style="width: 18rem;">

        <h5 class="card-title">@item.Title </h5>
        <a class="btn btn-success" href="/Articles/Show/@item.Article_Id">Afisare articol</a>

    </div>
    <br/>
}
<div>
    <a class="btn btn-success" href="/Articles/New">Adaugare Articol</a>
</div>



    
 
