@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model DAW_Project.Models.Article

@foreach (var item in ViewBag.Article.Modifications)
{
    <h2>@item.Title</h2>
    <p>@item.Editor_Name</p>
    <p>@Html.Raw(item.Content)</p>
    <p>@item.Domain.Domain_name</p>
    <p>@item.Date</p>
    <br />
}

